<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="QL_nhansu.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>-->
        <!--<add name="QL_nhansu.Properties.Settings.QLNS_DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QLNS_Data.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>-->
        <!--<add name="QL_nhansu.Properties.Settings.QuanLy_NhanSuConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLy_NhanSu;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
        <add name="QL_nhansu.Properties.Settings.QuanlynhansuConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Quanlynhansu;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <!--<add name="QL_nhansu.Properties.Settings.QuanlynhansuConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Quanlynhansu.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>-->
        <!--<add name="QL_nhansu.Properties.Settings.QuanlynhansuConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;E:\DO AN TOT NGHIEP\Moinhat_phuongsua\QL_nhansu\CSDL Quanlynhansu_moi\Quanlynhansu.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
